<ul>
  <% if tree[:dirs] %>
    <% tree[:dirs].sort.each do |dirname, subtree| %>
      <li>
        <details>
          <summary><strong><%= dirname %>/</strong></summary>
          <%= render partial: 'tree', locals: { tree: subtree, path: File.join(path, dirname) } %>
        </details>
      </li>
    <% end %>
  <% end %>
  <% if tree[:files] %>
    <% tree[:files].sort.each do |filename| %>
      <li><%= filename %></li>
    <% end %>
  <% end %>
</ul>
