<p style="color: green"><%= notice %></p>

<% content_for :title, "Prompts" %>

<h1>Prompts</h1>

<div id="prompts">
  <% @prompts.each do |prompt| %>
    <%= render Components::Prompts::Prompt.new(prompt: prompt) %>
    <p>
      <%= link_to "Show this prompt", prompt_path(prompt.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New prompt", new_prompt_path %>
