<%= turbo_stream_from [session, :rpc_messages] if session %>
<table class="rpc-messages-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Dir</th>
      <th>Rpc id</th>
      <th>Method</th>
      <th>Params</th>
      <th>Result</th>
      <th>Error</th>
    </tr>
  </thead>
  <tbody id="rpc_messages" data-controller="limit-list" data-limit-list-max-value="5" data-limit-list-order-value="prepend">
    <% rpc_messages.each do |rpc_message| %>
      <%= render rpc_message %>
    <% end %>
  </tbody>
</table>