<%# locals: (job_status:) %>
<div id="job-status">
  <% if job_status == :running %>
    <div id="job-status-indicator" class="sessions-job-status__indicator">
      <span class="spinner sessions-job-status__spinner"></span>
    </div>
  <% end %>
</div>
