<div id="<%= dom_id session %>">
  <div class="session-header">
    <span class="session-id">Session <%= session.id.to_s[0, 8] %></span>
    <span class="session-model"><%= session.model %></span>
  </div>
</div>
