<div id="<%= dom_id operation %>">
  <div>
    <strong>Command:</strong>
    <%= operation.command %>
  </div>

  <div>
    <strong>Directory:</strong>
    <%= operation.directory %>
  </div>

</div>
