<p>Operation: Run RSpec</p>
<p>Description: Run all RSpec tests in the Rails app.</p>
<%= form_with url: rspec_app_ops_path, method: :post, data: { turbo: false } do %>
  <%= submit_tag 'OK' %>
  <%= link_to 'Cancel', app_ops_path %>
<% end %>
