<p style="color: green"><%= notice %></p>

<% content_for :title, "Rpc logs" %>

<h1>Rpc logs</h1>

<div id="rpc_logs" class="rpc-logs-list">
  <% @rpc_logs.each do |rpc_log| %>
    <%= render "rpc_log", rpc_log: rpc_log %>
  <% end %>
</div>
<%= paginate @rpc_logs %>
