<h1>Home</h1>
<ul>
  <li><%= link_to 'Sessions', sessions_path %></li>
  <li><%= link_to 'Models', models_path %></li>
  <li><%= link_to 'Files', files_path %></li>
  <li><%= link_to 'Changes', changes_path %></li>
</ul>
