<h1>Home</h1>
<ul>
  <li><%= link_to 'Sessions', sessions_path %></li>
  <li><%= link_to 'Models', models_path %></li>
  <li>Changes
    <ul>
      <li><%= link_to 'Revert', revert_changes_path %></li>
    </ul>
  </li>
</ul>
