<h1>Changes</h1>
<ul class="changes-list">
  <% @commits.each do |commit| %>
    <li style="margin-bottom:1em; word-break:break-all;">
      <strong>Hash:</strong> <%= link_to commit[:hash], (commit[:hash] == 'uncommitted' ? uncommitted_changes_changes_path : change_path(commit[:hash])) %><br>
      <strong>Author:</strong> <%= commit[:author] %><br>
      <strong>Message:</strong> <%= commit[:message] %>
    </li>
  <% end %>
</ul>
<%= paginate @commits %>
