<nav aria-label="breadcrumb" class="mobile-breadcrumbs" style="display: flex; align-items: center; min-width:0; overflow:hidden;">
  <ol class="breadcrumb" style="flex:1 1 0%; min-width:0; overflow:hidden;">
    <% breadcrumbs.each do |crumb| %>
      <li class="breadcrumb-item">
        <% if crumb.link? && crumb != breadcrumbs.last %>
          <%= link_to crumb.name, crumb.path, class: "breadcrumb-link" %>
        <% else %>
          <span class="breadcrumb-page"><%= crumb.name %></span>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>
