<%= turbo_frame_tag :remote_modal do %>
  <dialog aria-labelledby="modal_title" data-controller="remote-modal message-copy">
  <header>
    <h2 id="modal_title">Message History</h2>
    <form method="dialog">
      <button aria-label="close">X</button>
    </form>
  </header>
  <div>
    <h3>Latest 10 Messages</h3>
    <ul>
      <% @messages.each do |msg| %>
        <li>
          <a href="#" data-action="message-copy#copy" data-content="<%= h msg.content %>" tabindex="-1"><strong>ID:</strong> <%= msg.id %></a><br>
          <%= h msg.content %>
        </li>
      <% end %>
    </ul>
  </div>
  </dialog>
<% end %>
