<%# locals: (messages:) %>
<%= turbo_frame_tag :remote_modal do %>
  <dialog aria-labelledby="modal_title" data-controller="remote-modal message-copy">
    <header>
      <form method="dialog">
        <button aria-label="close">X</button>
      </form>
    </header>
    <div>
      <%= render "messages/messages", messages: messages, limit: 5, history_mode: true %>
      <%= paginate messages, remote: true %>
    </div>
  </dialog>
<% end %>
