<%# locals: (messages:, limit:, history_mode:) %>
<div id="messages" class="messages-list">
  <% messages.each do |message| %>
    <%= render message, history_mode: history_mode %>
  <% end %>
</div>
