.changes-list__item {
  margin-bottom: 1em;
  word-break: break-all;
}

.changes-diff__file-path {
  overflow-wrap: anywhere;
}

.changes-list__item--selected {
  background-color: #f0f0f0;
  font-weight: bolder;
}

.changes__branch-label {
  background-color: #f0f0f0;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}
