.changes-list__item {
  margin-bottom: 1em;
  word-break: break-all;
}

.changes-diff__file-path {
  overflow-wrap: anywhere;
}

.changes-list__item--selected {
  background-color: #f0f0f0;
  font-weight: bolder;
}
