.changes-list__item {
  margin-bottom: 1em;
  word-break: break-all;
}

.staging-list__item {
  display: flex;
  align-items: center;
  padding: 0.4em 0;
}

.inline-form {
  display: inline;
  margin-right: 0.5em;
}

.changes-stage-btn, .changes-unstage-btn {
  padding: 0 0.5em;
  font-size: 1em;
  line-height: 1.2;
  vertical-align: middle;
}

.changes-diff__file-path {
  overflow-wrap: anywhere;
}

.changes-list__item--selected {
  background-color: #f0f0f0;
  font-weight: bolder;
}

.changes__branch-label {
  background-color: #f0f0f0;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}
