.events-flex-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200%;
}

.events-flex-header {
  font-weight: bold;
  background: #f5f5f5;
}


.events-flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.events-flex-row .event-label {
  display: none;
}
.events-flex-row > div {
  padding: 0 0.5em;
  width: 5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.events-col-id, .events-col-parent {
  width: auto;
  min-width: 3em;
  max-width: none;
}

.events-col-type {
  min-width: 8em;
  max-width: 10em;
}

.events-col-eventid {
  min-width: 5em;
  max-width: 8em;
}

.events-col-data {
  flex: 1 1 10em;
  min-width: 10em;
  font-family: monospace;
  white-space: pre;
}

.events-col-timestamp {
  min-width: 10em;
}