/* Truncate long content in RPC message table */
.rpc-messages-table td.truncate {
  max-width: 11em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rpc-messages-table td.rpc-id {
  max-width: 7em;
}
