<div data-controller="memo">
  <form data-action="submit->memo#saveMemo">
    <input data-memo-target="input" type="text" maxlength="140" placeholder="Write a memo..." autocomplete="off" />
    <button type="submit">Add</button>
  </form>
  <ul data-memo-target="list"></ul>
</div>
